:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 10, 10, 50;
  /* Darker blue */
  /* Dark blue */
  --background-middle-rgb: 15, 15, 15;
  /* Dark gray as transition */
  --background-end-rgb: 10, 10, 10;
  /* Almost black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-middle-rgb)) 50%,
      /* Darker for longer */
      rgb(var(--background-end-rgb)) 90%);
  /* Transition to almost black starts later */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}